# Set and it's method

In [1]:
set1={1,3,45,6,56}
set2={1,3,45,6,534}

In [2]:
set1|set2

{1, 3, 6, 45, 56, 534}

# union()   &   intersection() difference()

In [3]:
set1.union(set2)

{1, 3, 6, 45, 56, 534}

In [7]:
set1.intersection(set1)

{1, 3, 6, 45, 56}

In [9]:
set1.difference(set2)

{56}

# add() update()clear() copy() discard()remove()

In [10]:
set1.add(233)

In [11]:
set1

{1, 3, 6, 45, 56, 233}

In [13]:
set1.update([3444])

In [14]:
set1

{1, 3, 6, 45, 56, 233, 3444}

In [17]:
set3=set1.copy()

In [25]:
set3

{1, 3, 6, 45, 56, 233, 3444}

In [26]:
set3.remove(3444);set1  
#use ; two multiple line code in one line

{1, 3, 6, 45, 56, 233}

In [27]:
set3.discard(3)

In [28]:
set3

{1, 6, 45, 56, 233}

In [29]:
set3.clear()